<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </symbol>
</svg>

<div class="wrapper" *ngIf="!loading">

  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-10 offset-xxl-3 offset-xl-3 offset-lg-3 offset-md-2 offset-sm-1">

      <!-- Title bar -->
      <div class="title-bar">
        <i class="fa fa-address-card-o fa-2x title-icon mt-1 mt-sm-1 mt-md-2 mt-lg-2"></i>
        <h1 class="text-uppercase" *ngIf="!notFoundError">Adatok</h1>
      </div>

      <!-- Form container -->
      <div class="form-container p-3">

        <!-- Error alert -->
        <div class="alert alert-danger d-flex align-items-center justify-content-center flex-column" role="alert"
          *ngIf="savingError">
          <div class="text-center">
            <svg class="bi flex-shrink-0 me-2 d-inline" width="24" height="24" role="img" aria-label="Danger:">
              <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <span>Hiba történt a felhasználó mentésekor!</span>
          </div>
          <span>Részletek:</span>
          <strong>{{ errorMessage }}</strong>
        </div>

        <form #userForm="ngForm" (submit)="saveUser(userForm)">

          <!-- LastName -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName"
              [class.is-valid]="userForm.controls['lastName']?.valid && userForm.controls['lastName']?.touched"
              [class.is-invalid]="userForm.controls['lastName']?.invalid && userForm.controls['lastName']?.touched"
              placeholder="Vezetéknév *" required>
            <label for="lastName">Vezetéknév *</label>
            <div class="invalid-feedback">Hiányzó vezetéknév!</div>
          </div>

          <!-- firstName -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName"
              [class.is-valid]="userForm.controls['firstName']?.valid && userForm.controls['firstName']?.touched"
              [class.is-invalid]="userForm.controls['firstName']?.invalid && userForm.controls['firstName']?.touched"
              placeholder="Keresztnév *" required>
            <label for="firstName">Keresztnév *</label>
            <div class="invalid-feedback">Hiányzó keresztnév!</div>
          </div>

          <!-- UserName -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="user.userName"
              [class.is-valid]="userForm.controls['userName']?.valid && userForm.controls['userName']?.touched"
              [class.is-invalid]="userForm.controls['userName']?.invalid && userForm.controls['userName']?.touched"
              placeholder="Felhasználónév *" required>
            <label for="userName">Felhasználónév *</label>
            <div class="invalid-feedback">Hiányzó felhasználónév!</div>
          </div>

          <!-- Password -->
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"
              [class.is-valid]="userForm.controls['password']?.valid && userForm.controls['password']?.touched"
              [class.is-invalid]="userForm.controls['password']?.invalid && userForm.controls['password']?.touched"
              placeholder="Jelszó *" pattern="^(?=[^a-zíáéüűúöőó]*[a-zíáéüűúöőó])(?=[^A-ZÍÁÉÜŰÚÖŐÓ]*[A-ZÍÁÉÜŰÚÖŐÓ]).{4,}$"
              required>
            <label for="password">Jelszó *</label>
            <div class="invalid-feedback">Hiányzó vagy gyenge jelszó!</div>
          </div>

          <!-- phoneNumber -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber"
              [class.is-valid]="userForm.controls['phoneNumber']?.valid && userForm.controls['phoneNumber']?.touched"
              [class.is-invalid]="userForm.controls['phoneNumber']?.invalid && userForm.controls['phoneNumber']?.touched"
              placeholder="Telefonszám *" required>
            <label for="phoneNumber">Telefonszám *</label>
            <div class="invalid-feedback">Hiányzó telefonszám!</div>
          </div>

          <!-- Email -->
          <div class="form-floating mb-3">
            <input type="email" #email class="form-control" id="email" name="email" [(ngModel)]="user.email"
              [class.is-valid]="userForm.controls['email']?.valid && userForm.controls['email']?.touched"
              [class.is-invalid]="userForm.controls['email']?.invalid && userForm.controls['email']?.touched"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email *" required>
            <label for="email">Email *</label>
            <div class="invalid-feedback">Érvénytelen vagy hiányzó email!</div>
          </div>

          <button type="submit" class="btn btn-primary w-100 mt-2" [disabled]="userForm.form.invalid"
            *ngIf="!updating">Mentés</button>

          <button class="btn btn-primary w-100 mt-2" type="submit" disabled *ngIf="updating">
            <span class="fa fa-refresh fa-spin"></span> Mentés...
          </button>

        </form>
      </div>

    </div>
  </div>
</div>

<!-- Loading screen -->
<div class="wrapper" *ngIf="loading && !notFoundError">
  <div class="d-flex justify-content-center loading">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
  </div>
  <p class="text-center mt-3">Munkatárs betöltése...</p>
</div>

<!-- Error message when user is not found -->
<div *ngIf="notFoundError" class="mt-5">
  <div class="alert alert-danger text-center" role="alert">A keresett munkatárs nem található vagy nem betölthető!</div>
</div>