<div class="wrapper mb-5 p-3" *ngIf="(userList$ | async)!.resultsLength > 0">

  <div class="row">
    <div class="col-12 d-flex justify-content-xxl-between justify-content-xl-between justify-content-lg-between
       justify-content-md-around justify-content-sm-around justify-content-center align-content-center flex-wrap my-4 top-bar">
      <h2 class="text-uppercase mb-3"><i class="fa fa-user-o"></i> Munkatársak</h2>
      <span class="text-center">
        <button class="btn btn-primary" [routerLink]="'0'"><i class="fa fa-plus"></i>Új munkatárs felvétele</button>
      </span>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Név</th>
        <th>CreatedAt</th>
        <th class="text-center">Törlés</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of (userList$ | async)?.results">
        <td>
          <span [routerLink]="[user.id]">{{ user.lastName }} {{ user.firstName }}</span>
        </td>
        <td>{{ user.createdAt | date:'yyyy.MM.dd' }}</td>
        <td class="text-center"><i class="fa fa-times del-button" data-bs-toggle="modal" data-bs-target="#confirmModal"
            (click)="setCurrentUser(user)"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="wrapper" *ngIf="loading">
  <div class="d-flex justify-content-center loading">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
  </div>
  <p class="text-center mt-3">Munkatársak betöltése...</p>
</div>

<app-modal (confirmedClick)="deleteUser($event)"></app-modal>