<div class="wrapper mb-5 p-3" *ngIf="(userList$ | async)!.resultsLength > 0 && !loading">

  <div class="row">
    <div class="col-12 d-flex justify-content-xxl-between justify-content-xl-between justify-content-lg-between
       justify-content-md-around justify-content-sm-around justify-content-center align-content-center flex-wrap my-4 top-bar">
      <h2 class="text-uppercase mb-3"><i class="fa fa-user-o"></i> Munkatársak</h2>
      <span class="text-center">
        <button class="btn btn-primary" [routerLink]="'0'"><i class="fa fa-plus"></i>Új munkatárs felvétele</button>
      </span>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th (click)="setOrder('Name')" class="clickable">
          Név
          <i class="fa fa-arrow-up" *ngIf="config.orderBy === 'Name' && config.order === 'Asc'"></i>
          <i class="fa fa-arrow-down" *ngIf="config.orderBy === 'Name' && config.order === 'Desc'"></i>
        </th>

        <th (click)="setOrder('CreatedAt')" class="clickable">
          CreatedAt
          <i class="fa fa-arrow-up" *ngIf="config.orderBy === 'CreatedAt' && config.order === 'Asc'"></i>
          <i class="fa fa-arrow-down" *ngIf="config.orderBy === 'CreatedAt' && config.order === 'Desc'"></i>
        </th>

        <th class="text-center">Törlés</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of (userList$ | async)?.results">
        <td>
          <span [routerLink]="[user.id]">{{ user.lastName }} {{ user.firstName }}</span>
        </td>
        <td>{{ user.createdAt | date:'yyyy.MM.dd' }}</td>
        <td class="text-center"><i class="fa fa-times del-button" data-bs-toggle="modal" data-bs-target="#confirmModal"
            (click)="setCurrentUser(user)"></i></td>
      </tr>
    </tbody>
  </table>

  <div class="bottom-bar">
    <div class="bottom-bar-content">

      <span class="first">
        <span class="items-per-page-label">Items per page:</span>

        <select class="form-select" #itemsPerPage (change)="onChangePageSize(itemsPerPage.value)">
          <option value="5" [selected]="config.limit.getValue() === 5">5</option>
          <option value="10" [selected]="config.limit.getValue() === 10">10</option>
          <option value="25" [selected]="config.limit.getValue() === 25">25</option>
          <option value="50" [selected]="config.limit.getValue() === 50">50</option>
        </select>
      </span>

      <div class="second">
        <span class="page-numbers-label">{{ config.pageIndex.getValue() + 1 }} - {{ config.pageIndex.getValue() + 1 }} of {{
          config.totalNumberOfPages.getValue() }}</span>

        <span>
          <i class="fa fa-chevron-left left-btn" (click)="jumpToThePrevPage()" *ngIf="config.pageIndex.getValue()"></i>
          <i class="fa fa-chevron-left left-btn text-secondary" *ngIf="!config.pageIndex.getValue()"></i>

          <i class="fa fa-chevron-right right-btn" (click)="jumpToTheNextPage()"
            *ngIf="config.pageIndex.getValue() + 1 < config.totalNumberOfPages.getValue() "></i>
          <i class="fa fa-chevron-right right-btn text-secondary"
            *ngIf="config.pageIndex.getValue() + 1 === config.totalNumberOfPages.getValue()"></i>
        </span>

      </div>

    </div>
  </div>


</div>

<div class="wrapper" *ngIf="loading">
  <div class="d-flex justify-content-center loading">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
  </div>
  <p class="text-center mt-3">Munkatársak betöltése...</p>
</div>

<app-modal (confirmedClick)="deleteUser($event)"></app-modal>