<span *ngIf="auth.currentUserValue.userName">
  <div class="d-flex justify-content-between bg-light p-2 sticky-top">
    <div>
      <a [routerLink]="''"><img src="/assets/img/logo_transparent_background.png" alt="logo" width="85px"></a>
    </div>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column m-right">
        <strong>{{ auth.currentUserValue.email }}</strong>
        <a class="text-end text-dark">
          <span class="logout-label" (click)="logout()" *ngIf="!loggingOut">Logout</span>
          <span class="logout-label" *ngIf="loggingOut">Logging out...</span>
        </a>
      </div>
      <div>
        <img src="/assets/img/placeholder.jpg" alt="placeholder-image" width="60px" class="rounded-circle user-select-none">
      </div>
    </div>
  </div>
</span>